
		<!-- HEADER
			============================================= -->
            <header id="header" class="header tra-menu navbar-dark">
                <div class="header-wrapper navbar-dark bg-dark">
    
    
                    <!-- MOBILE HEADER -->
                    <div class="wsmobileheader clearfix">
                        <span class="smllogo"><a href="/" class="disabled"><img src="assets/images/roterlogo.svg" alt="mobile-logo"></a></span>
                        <a id="wsnavtoggle" class="wsanimated-arrow"><span></span></a>
                    </div>
    
    
                    <!-- NAVIGATION MENU -->
                    <div class="container menu clearfix">
                        <div class="wsmainwp clearfix">
    
    
                            <!-- HEADER LOGO -->
                            <div class="desktoplogo"><a href="/" class="logo-black disabled"><img src="assets/images/roterlogo.svg" alt="header-logo"></a></div>
                            <div class="desktoplogo"><a href="/" class="logo-white disabled"><img src="assets/images/roterlogo.svg" alt="header-logo"></a></div>
    
    
                            <!-- MAIN MENU -->
                            <nav class="wsmenu clearfix"><div class="overlapblackbg"></div>
                                <ul class="wsmenu-list nav-yellow-hover">
    
                                    <li class="n1-simple"><a href="/">HOME</a></li>
    
                                    <!-- DROPDOWN MENU -->
                                    <li aria-haspopup="true"><span class="wsmenu-click"><i class="wsmenu-arrow"></i></span><a href="/">Products<span class="wsarrow"></span></a>
                                        <!-- Links -->
                                        <ul class="sub-menu">
                                            <li><a href="#">Agriculture</a></li>
                                            <li><a href="#">Construction</a></li>
                                            <li><a href="#">Disaster Management</a></li>
                                            <li><a href="#">Mining</a></li>
                                            <li><a href="#">Government &amp; Smart Cities</a></li>
                                            <li><a href="#">Oil &amp; Gas</a></li>
                                            <li><a href="#">Railways</a></li>
                                            <li><a href="#">Telecommunication</a></li>
                                        </ul>
                                    </li> <!-- END DROPDOWN MENU -->
    
    
                                    <!-- DROPDOWN MENU -->
                                    <li aria-haspopup="true"><span class="wsmenu-click"><i class="wsmenu-arrow"></i></span><a href="#">Insights<span class="wsarrow"></span></a>
                                        <!-- Links -->
                                        <ul class="sub-menu">
                                            <li><a routerLink="/products" href="#">Insights</a></li>
                                            <li><a routerLink="/products" href="#">About</a></li>
                                        </ul>
                                    </li> <!-- END DROPDOWN MENU -->
    
                                    <li class="n1-simple"><a href="#" target="_blank">About</a></li>
                                    <li class="n1-simple"><a href="#contact">Contact</a></li>
    
                                </ul>
                            </nav> <!-- END MAIN MENU -->
    
    
                        </div>
                    </div> <!-- END NAVIGATION MENU -->
    
    
                </div> <!-- End header-wrapper -->
            </header> <!-- END HEADER -->