<footer id="footer-4" class="footer division">
    <div class="container">
        <!-- FOOTER CONTENT -->
        <div class="row reverse-direction">

            <div class="col-sm-12 col-md-12 col-lg-7">
                <!-- FOOTER LINKS -->
                <div class="link-column col-sm-4 col-sm-4 col-md-4 col-lg-4 float-left">
                    <div class="footer-links mb-40">

                        <!-- Title -->
                        <h6 class="h6-xl">Products</h6>

                        <!-- Footer List -->
                        <ul class="foo-links text-secondary clearfix">
                            <!-- <li><p class="p-lg"><a href="#">Our Blog</a></p></li>										 -->
                            <li>
                                <p class="p-sm"><a href="#">Drones</a></p>
                            </li>
                            <li>
                                <p class="p-sm"><a href="#">DaaS Platform</a></p>
                            </li>
                            <li>
                                <p class="p-sm"><a href="#">Drone Tech Course</a></p>
                            </li>
                        </ul>
                    </div>
                </div>


                <!-- FOOTER LINKS -->
                <div class="link-column col-sm-4 col-md-4 col-lg-4 float-left">
                    <div class="footer-links mb-40">

                        <!-- Title -->
                        <h6 class="h6-xl">About us</h6>

                        <!-- Footer List -->
                        <ul class="foo-links text-secondary clearfix">
                            <li>
                                <p class="p-sm"><a href="#">Agriculture</a></p>
                            </li>
                            <li>
                                <p class="p-sm"><a href="#">Mining</a></p>
                            </li>
                            <li>
                                <p class="p-sm"><a href="#">Oil &amp; Gas</a></p>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- FOOTER LINKS -->
                <div class="link-column col-sm-4 col-md-4 col-lg-4 float-left">
                    <div class="footer-links mb-40">

                        <!-- Title -->
                        <h6 class="h6-xl">Our Home</h6>

                        <!-- Footer List -->
                        <ul class="foo-links text-secondary clearfix">
                            <li>
                                <p class="p-sm"><a href="#">Agriculture</a></p>
                            </li>
                            <li>
                                <p class="p-sm"><a href="#">Mining</a></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- FOOTER LINKS -->
            <div class="col-sm-12 col-md-12 col-lg-5">
                <div class="footer-links mb-40">
                    <h4 class="h6-xl">
                        <img class="img-responsive" src="assets/images/roterlogo.svg" alt="">
                    </h4>

                    <ul class="foo-links social-media clearfix">
                        <li>
                            <a href="#">
                                <img src="assets/images/fb.svg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="assets/images/li.svg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="assets/images/insta.svg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="assets/images/yt.svg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="assets/images/tw.svg" alt="">
                            </a>
                        </li> 
                    </ul>

                </div>
            </div>


        </div> <!-- END FOOTER CONTENT -->

    </div>

    <div class="container-fluid">
        <!-- FOOTER CONTENT -->
        <div class="row">
            <div class="bottom-footer">
                <div class="row d-flex align-items-center">
        
        
                    <!-- FOOTER COPYRIGHT -->
                    <div class="text-center">
                        <div class="footer-copyright">
                            <p>Copyright @2023 Roter Precision Instruments Pvt. Ltd. All Rights Reserved.</p>
                        </div>
                    </div>
        
        
                </div> <!-- End row -->
            </div>
        </div>
        </div>
        <a href="#page" id="scrollUp">
		</a>
</footer>