<main>
    <div class="whatWeDo noLimit bannerSection">
        <span class="noLimitImage bannerImage">
        </span>
        <strong class="themeBg"></strong>
        <section class="container">
            <div class="left-section">
                <h4>precision, power &<strong>possibilities</strong></h4>
                <button type="submit" class="btn">Get in Contact</button>
            </div>
        </section>
    </div>
    <div class="whatWeDo products">
        <section class="container">
            <h3>Products</h3>
            <div class="drones">
                <h5 class="sub-heading">Drones</h5>
                <ul class="wwd">
                    <li class="rect-1">
                        <a href="#">
                            <h3>Mapping</h3>
                            <h5>TRINITY <strong>F90+</strong></h5>
                        </a>
                    </li>
                    <li class="rect-2">
                        <a href="#">
                            <h3>Mapping | Security</h3>
                            <h5>ROUTER <strong>RC-08</strong></h5>
                        </a>
                    </li>
                    <li class="rect-3">
                        <a href="#">
                            <h3>multi purpose</h3>
                            <h5>VELOS <strong>V3</strong></h5>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="drones multipurpose">
                <h5 class="sub-heading">lidar</h5>
                <ul class="wwd">
                    <li class="rect-1">
                        <a href="#">
                            <h3>uav lidar</h3>
                            <h5>yellow <strong>scan lidars</strong></h5>
                        </a>
                    </li>
                    <li class="rect-2">
                        <a href="#">
                            <h3>terrestrical | mobile</h3>
                            <h5>z+f <strong>lidars</strong></h5>
                        </a>
                    </li>
                    <li class="rect-3">
                        <a href="#">
                            <h3>underground</h3>
                            <h5>slam <strong>solutions</strong></h5>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="drones andMore">
                <h5 class="sub-heading">and more</h5>
                <ul class="wwd">
                    <li class="rect-1">
                        <a href="#">
                            <!-- <h3>Mapping</h3> -->
                            <h5>gpr <strong>sensors</strong></h5>
                        </a>
                    </li>
                    <li class="rect-2">
                        <a href="#">
                            <!-- <h3>Mapping | Security</h3> -->
                            <h5>iot of <strong>mines</strong></h5>
                        </a>
                    </li>
                    <li class="rect-3">
                        <a href="#">
                            <!-- <h3>multi purpose</h3> -->
                            <h5>airport <strong>solution</strong></h5>
                        </a>
                    </li>
                </ul>
            </div>
            <a class="allProducts" href="">See all our products</a>
        </section>
    </div>
    <div class="whatWeDo sliderSection">
        <section class="container">
            <h3>News</h3>
              <!-- Brands Carousel -->
				<div class="row">
					<div class="col text-center">
						<div id="slider" class="slider">
                            <div class="wrapper">
                              <div id="items" class="items">
                                <span class="slide">
                                    <img src="assets/images/news1.png" alt="">
                                    <div>
                                        <h4>What helpful hands can do we they are used Correctly</h4>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi ipsum impedit quisquam nemo commodi ad itaque dolores corporis labore libero autem corrupti numquam iste dolorem, odit eum. Maiores, neque? Sapiente.</p>
                                        <button class="btn transparent-btn center-btn">Read more</button>
                                    </div>
                                </span>
                                <span class="slide">
                                    <img src="assets/images/news2.png" alt="">
                                    <div>
                                        <h4>What helpful hands can do we they are used Correctly</h4>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi ipsum impedit quisquam nemo commodi ad itaque dolores corporis labore libero autem corrupti numquam iste dolorem, odit eum. Maiores, neque? Sapiente.</p>
                                        <button class="btn transparent-btn center-btn">Read more</button>
                                    </div>
                                </span>
                                <span class="slide">
                                    <img src="assets/images/news3.png" alt="">
                                    <div>
                                        <h4>What helpful hands can do we they are used Correctly</h4>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi ipsum impedit quisquam nemo commodi ad itaque dolores corporis labore libero autem corrupti numquam iste dolorem, odit eum. Maiores, neque? Sapiente.</p>
                                        <button class="btn transparent-btn center-btn">Read more</button>
                                    </div>
                                </span>
                                <span class="slide">
                                    <img src="assets/images/news1.png" alt="">
                                    <div>
                                        <h4>What helpful hands can do we they are used Correctly</h4>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi ipsum impedit quisquam nemo commodi ad itaque dolores corporis labore libero autem corrupti numquam iste dolorem, odit eum. Maiores, neque? Sapiente.</p>
                                        <button class="btn transparent-btn center-btn">Read more</button>
                                    </div>
                                </span>
                                <span class="slide">
                                    <img src="assets/images/news2.png" alt="">
                                    <div>
                                        <h4>What helpful hands can do we they are used Correctly</h4>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi ipsum impedit quisquam nemo commodi ad itaque dolores corporis labore libero autem corrupti numquam iste dolorem, odit eum. Maiores, neque? Sapiente.</p>
                                        <button class="btn transparent-btn center-btn">Read more</button>
                                    </div>
                                </span>
                                <span class="slide">
                                    <img src="assets/images/news3.png" alt="">
                                    <div>
                                        <h4>What helpful hands can do we they are used Correctly</h4>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi ipsum impedit quisquam nemo commodi ad itaque dolores corporis labore libero autem corrupti numquam iste dolorem, odit eum. Maiores, neque? Sapiente.</p>
                                        <button class="btn transparent-btn center-btn">Read more</button>
                                    </div>
                                </span><span class="slide">
                                    <img src="assets/images/news1.png" alt="">
                                    <div>
                                        <h4>What helpful hands can do we they are used Correctly</h4>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi ipsum impedit quisquam nemo commodi ad itaque dolores corporis labore libero autem corrupti numquam iste dolorem, odit eum. Maiores, neque? Sapiente.</p>
                                        <button class="btn transparent-btn center-btn">Read more</button>
                                    </div>
                                </span>
                                <span class="slide">
                                    <img src="assets/images/news2.png" alt="">
                                    <div>
                                        <h4>What helpful hands can do we they are used Correctly</h4>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi ipsum impedit quisquam nemo commodi ad itaque dolores corporis labore libero autem corrupti numquam iste dolorem, odit eum. Maiores, neque? Sapiente.</p>
                                        <button class="btn transparent-btn center-btn">Read more</button>
                                    </div>
                                </span>
                                <span class="slide">
                                    <img src="assets/images/news3.png" alt="">
                                    <div>
                                        <h4>What helpful hands can do we they are used Correctly</h4>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi ipsum impedit quisquam nemo commodi ad itaque dolores corporis labore libero autem corrupti numquam iste dolorem, odit eum. Maiores, neque? Sapiente.</p>
                                        <button class="btn transparent-btn center-btn">Read more</button>
                                    </div>
                                </span><span class="slide">
                                    <img src="assets/images/news1.png" alt="">
                                    <div>
                                        <h4>What helpful hands can do we they are used Correctly</h4>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi ipsum impedit quisquam nemo commodi ad itaque dolores corporis labore libero autem corrupti numquam iste dolorem, odit eum. Maiores, neque? Sapiente.</p>
                                        <button class="btn transparent-btn center-btn">Read more</button>
                                    </div>
                                </span>
                                <span class="slide">
                                    <img src="assets/images/news2.png" alt="">
                                    <div>
                                        <h4>What helpful hands can do we they are used Correctly</h4>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi ipsum impedit quisquam nemo commodi ad itaque dolores corporis labore libero autem corrupti numquam iste dolorem, odit eum. Maiores, neque? Sapiente.</p>
                                        <button class="btn transparent-btn center-btn">Read more</button>
                                    </div>
                                </span>
                                <span class="slide">
                                    <img src="assets/images/news3.png" alt="">
                                    <div>
                                        <h4>What helpful hands can do we they are used Correctly</h4>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi ipsum impedit quisquam nemo commodi ad itaque dolores corporis labore libero autem corrupti numquam iste dolorem, odit eum. Maiores, neque? Sapiente.</p>
                                        <button class="btn transparent-btn center-btn">Read more</button>
                                    </div>
                                </span><span class="slide">
                                    <img src="assets/images/news1.png" alt="">
                                    <div>
                                        <h4>What helpful hands can do we they are used Correctly</h4>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi ipsum impedit quisquam nemo commodi ad itaque dolores corporis labore libero autem corrupti numquam iste dolorem, odit eum. Maiores, neque? Sapiente.</p>
                                        <button class="btn transparent-btn center-btn">Read more</button>
                                    </div>
                                </span>
                                <span class="slide">
                                    <img src="assets/images/news2.png" alt="">
                                    <div>
                                        <h4>What helpful hands can do we they are used Correctly</h4>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi ipsum impedit quisquam nemo commodi ad itaque dolores corporis labore libero autem corrupti numquam iste dolorem, odit eum. Maiores, neque? Sapiente.</p>
                                        <button class="btn transparent-btn center-btn">Read more</button>
                                    </div>
                                </span>
                                <span class="slide">
                                    <img src="assets/images/news3.png" alt="">
                                    <div>
                                        <h4>What helpful hands can do we they are used Correctly</h4>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi ipsum impedit quisquam nemo commodi ad itaque dolores corporis labore libero autem corrupti numquam iste dolorem, odit eum. Maiores, neque? Sapiente.</p>
                                        <button class="btn transparent-btn center-btn">Read more</button>
                                    </div>
                                </span>
                              </div>
                            </div>
                            <a id="prev" class="control prev"></a>
                            <a id="next" class="control next"></a>
                          </div>
					</div>
				</div> <!-- End Brands Carousel -->
        </section>
    </div>
    <!-- <div class="whatWeDo">
        <section class="container">
            <h3>What we do</h3>
            <ul class="wwd">
                <li class="rect-1">
                    <a href="#">
                        <h5>Drones</h5>
                    </a>
                </li>
                <li class="rect-2">
                    <a href="#">
                        <h5>gn55</h5>
                    </a>
                </li>
                <li class="rect-3">
                    <a href="#">
                        <h5>lidar</h5>
                    </a>
                </li>
                <li class="rect-4">
                    <a href="#">
                        <h5>whatever</h5>
                    </a>
                </li>
            </ul>
        </section>
    </div> -->
    <div class="whatWeDo application">
        <section class="container">
            <div class="left-section">
                <ul class="applicationIcons">
                    <li class="application1">
                        <img src="assets/images/application3.png" alt="">
                    </li>
                    <li class="application2">
                        <img src="assets/images/application1.png" alt="">
                    </li>
                    <li class="application4">
                        <img src="assets/images/application4.png" alt="">
                    </li>
                    <li class="application3">
                        <img src="assets/images/application2.png" alt="">
                    </li>
                    <li class="application5">
                        <img src="assets/images/application5.svg" alt="">
                    </li>
                </ul>
            </div>
            <div class="left-section right-part">
                <div class="knowledge-section">
                    <h4><strong>our knowledge is your beneift</strong></h4>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus omnis ea nemo voluptate officiis possimus.</p>
                    <button type="submit" class="btn black-btn">Get in Contact</button>
                </div>
            </div>
        </section>
    </div>
    <div class="whatWeDo noLimit darkBg">
        <span class="noLimitImage why-roter">
            <ul>
                <li>
                    <img src="assets/images/client1.png" alt="">
                    <h6>lidar</h6>
                </li>
                <li>
                    <img src="assets/images/client2.png" alt="">
                    <h6>uav</h6>
                </li>
                <li>
                    <img src="assets/images/client3.png" alt="">
                    <h6>gpr</h6>
                </li>
                <li>
                    <img src="assets/images/client4.png" alt="">
                    <h6>solutions</h6>
                </li>
            </ul>
        </span>
        <section class="container">
            <div class="left-section">
                <h4><strong>Why Roter?</strong></h4>
                <p>See what we can do for you. We will help you to reach your goal. See what we can do for you. We will help you to reach your goal. See what we can do for you. We will help you to reach your goal.See what we can do for you. We will help you to reach your goal. See what we can do for you. We will help you to reach your goal.See what we can do for you. We will help you to reach your goal.</p>
                <button type="submit" class="btn black-btn">our clients</button>
            </div>
        </section>
    </div>
    <div class="whatWeDo noLimit paddingTop">
        <span class="noLimitImage"></span>
        <section class="container">
            <div class="left-section">
                <h4>About <strong>Roter</strong></h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus omnis ea nemo voluptate officiis possimus obcaecati, aut ab fugiat dolorum. Obcaecati fugit nihil, reiciendis iste laboriosam nobis iure voluptas perferendis. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus omnis ea nemo voluptate officiis possimus obcaecati, aut ab fugiat dolorum. Obcaecati fugit nihil, reiciendis iste laboriosam nobis iure voluptas perferendis.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus omnis ea nemo voluptate officiis possimus obcaecati, aut ab fugiat dolorum. Obcaecati fugit nihil, reiciendis iste laboriosam nobis iure voluptas perferendis.</p>
                <button type="submit" class="btn black-btn">Get in Contact</button>
            </div>
        </section>
    </div>
    <div class="whatWeDo contact-section">
        <section class="container">
            <h3></h3>
            <div class="form-container">
                <span class="drone-icon"></span>
                <h4>want to know more? <strong>contact us!</strong></h4>
                <form  id="contact">
                    <div class="form-group row">
                      <div class="col-sm-12">
                        <input type="text" class="form-control" id="inputEmail3" placeholder="NAME">
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-12">
                        <input type="email" class="form-control" id="inputPassword3" placeholder="EMAIL">
                      </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                          <textarea rows="4" type="email" class="form-control" id="inputPassword3" placeholder="MESSAGE"></textarea>
                        </div>
                      </div>
                    <div class="form-group row">
                      <div class="col-sm-12">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="gridCheck1">
                          <label class="form-check-label" for="gridCheck1">
                            I confirm that my data will be shared with the entire Internet
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-10">
                        <button type="submit" class="btn">Contact us</button>
                      </div>
                    </div>
                  </form>
            </div>
        </section>
    </div>
    <div class="whatWeDo noLimit paddingTop addressSection">
        <section class="container">
            <div class="left-section">
                <h4>Contact Us<strong></strong></h4>
                <div class="contactUs-section">
                    <h4>CORPORATE HEAD OFFICE</h4>
                    <p>Old Tehsil, Idgah Crossing, Opp. Dwarka Mandir, Delhi-Dehradun Main Road, ROORKEE247667
                        P: +91-1332-261277 | F: +91-1332-264277 | E: info@apiroter.com | www.apiroter.com
                        Factory: C-16, Ramnagar Industrial Estate, ROORKEE-247667 INDIA</p>
                        <h4>North Zone</h4>
                        <p>Unit No. 1 & 2, UG Floor T1, Assotech Business Cresterra, Plot No. 22, Sector-135,
                        Expressway, Noida, DELHI-NCR-201304 | T/F: +91-9835928235| E:</p>
                        <h4>Central Zone</h4>
                        <p>Flat No. 101, H.No. 3-6-611/1&2, First Floor, KGN Plaza, Street No. 8, Himayatnagar,
                            HYDERABAD-500029 | P: +91-40-66660720, 40-27662720 | F: +91-40-40047659 | E:</p>
                        <h4>Southern Zone</h4>
                        <p>No. 4C-1010/1008, HRBR Layout, 1st Block, Horamavu Main Road, BANGALORE-560043
                            | P: +91-8025451927 | E:</p>
                </div>
            </div>
        </section>
        <span class="noLimitImage googleMapImage">
            <div id="googleMap" style="width:100%;height:400px;"></div>
        </span>
    </div>
</main>